__pycache__/
venv/
app/__pycache__
app/static/images/articles
app/static/css/.sass-cache/
*.pyc
*~
*.swp
style.css
*.map
*\?
bupDbAsa.sql
chImgSiz.sh
app/static/scripts/files\ to\ review/*
*_min.*
app/static/\.webassets-cache/*
