table
  border: .2em solid #000
  width: 60%
  margin: auto


.head_table
  background-color: $main_col

  th
    color: #FFF
    padding: 1em


.artic_det
  border-bottom: .1em solid $col_secundario
  text-align: left 
  text-indent: .4em

  th
    padding: .4em 0 .2em 0


  img
    width: 25px
    float: right


  a
    color: #000
    display: block
    text-align: center

