#wrapper_admin_art
  width: 80%
  margin: auto

  input[type="search"]
    width: 80%

  button[type=submit]
    background-color: $main_col
    margin-top: 1em
    width: 100%
    padding: .8em 0 .8em 0
    border: .1em solid #FFF
    color: #FFF
    border-radius: .4em

table
  border: .2em solid #000
  width: 100%


.head_table
  background-color: $main_col

  th
    color: #FFF
    padding: 1em


.artic_det
  border-bottom: .1em solid $col_secundario
  text-align: left 
  text-indent: .4em

  th
    padding: .4em 0 .2em 0


  img
    width: 25px
    float: right


  a
    color: #000
    display: block
    text-align: center

