.container
    display: grid
    justify-content: center 
    //align-content: safe center

    header
        margin-bottom: 2rem
  
        font:
            family: $fuente_general
            size: 1.7rem
            weight: bold 

        h2
            background-color: $col_secundario
            color: #252525   
            border-radius: .6rem 
            padding: .5rem 0


    
    div
        background-color: #FFF
        color: #FFF
        border: .2rem solid rgba($main_col,.2)
        border-radius: .5rem
        margin: .1rem .1rem .1rem .0rem

                
    img
        width: 100%
        height: 16em
        border-radius: .5em .5em 0 0
        border-bottom: .2em solid rgba(0,0,0, .3)

    .artic_title        
        border-bottom: .1em solid rgba(0,0,0, .1)
        height: .8em
        color: $col_letra
        padding: .5em 0
        margin: 0 auto         


    .artic_descr
        min-height: 5em
        padding: .5em 0
        color: $col_letra
        border-radius: 0 0 .5em .5em 


@media (min-width: 600px)
    .container 
        grid-template-columns: repeat(auto-fill, 32%)
        grid-template-rows: 3rem auto

        header 
            grid-column-start: 1 
            grid-column-end: -1 
            //flex-basis: 100%                           

@media (min-width: 1024px)
    .container 
        grid-template-columns: repeat(auto-fill, 19%)
        grid-template-rows: 3rem auto

        header 
            grid-column-start: 1 
            grid-column-end: -1 
            //flex-basis: 100%                           
      

//@media (min-width:400px)
//
//    main
//        display: block 
//
//    .container 
//        background-color: #00f



.icon-chevron-left::before , .icon-chevron-right:before 
    content: "\e903"
    background-color: rgba(0,0,0, .5)
    border-radius: 1em
    color: #FFF

.icon-chevron-left:hover:before, .icon-chevron-right:hover:before
    background-color: rgba(0,0,0, 1)


.icon-chevron-right::before 
    content: "\e904"
    

.bx-wrapper .bx-next
    margin-top: .3em
