@charset "UTF-8";
/*---------Reset---------*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*---------fuentes--------- */
#wrapper {
  display: grid;
  grid-template-columns: repeat(5, [col-start] 20% [col-end]);
  grid-template-rows: 90vh 2vh auto auto;
}
#wrapper > header {
  grid-column: 1/6;
  grid-row: 1;
  height: 90vh;
}

#wrapper_menu {
  grid-column: 1/6;
  grid-row: 2;
  background-color: #2CA8FF;
  color: #FFF;
  align-self: center;
  margin-bottom: 10rem;
}

mainIndex {
  grid-row: 3;
  grid-column: 1/6;
  margin-top: 5rem;
  text-align: center;
  justify-self: center;
  width: 96%;
}

#wrapp_info {
  grid-column: 1/6;
  grid-row: 4;
  position: relative;
}

@media (min-width: 600px) {
  #wrapp_info {
    grid-row: 1;
    z-index: 1;
  }
  #wrapp_info header {
    z-indez: -1;
    grid-row: 1;
  }
}
/*---------Cabecera---------*/
#logo {
  background: #000 url("../images/logo.png") 0 0/100% 100% no-repeat;
  height: 90vh;
  position: relative;
  z-index: 2;
}

input[type=search] {
  position: absolute;
  bottom: 1em;
  right: 1em;
  width: 10em;
}
input[type=search]:hover {
  width: 20%;
  transition: width 1s;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100%);
  grid-template-rows: 4.2rem auto;
}
.container header {
  grid-column-start: 1;
  grid-column-end: -1;
}
.container header h2 {
  color: white;
  border-radius: 0.6rem;
  padding: 1.5rem 0;
  background-color: rgba(44, 168, 255, 0.7);
  font-family: sourcesans;
  font-size: 1rem;
  font-weight: bold;
}
.container div {
  background-color: #FFF;
  color: #FFF;
  border: 0.2rem solid rgba(44, 168, 255, 0.2);
  border-radius: 0.5rem;
  margin: 0.1rem 0.1rem 0.1rem 0rem;
}
.container img {
  width: 100%;
  height: 16em;
  border-radius: 0.5em 0.5em 0 0;
  border-bottom: 0.2em solid rgba(0, 0, 0, 0.3);
}
.container .artic_title {
  border-bottom: 0.1em solid rgba(0, 0, 0, 0.1);
  height: 0.8em;
  color: #8c8c8c;
  padding: 0.5em 0;
  margin: 0 auto;
}
.container .artic_descr {
  min-height: 5em;
  padding: 0.5em 0;
  color: #8c8c8c;
  border-radius: 0 0 0.5em 0.5em;
}

.icon-chevron-left::before, .icon-chevron-right:before {
  content: "";
  background-color: black;
  border-radius: 2rem;
  color: #FFF;
}

.icon-chevron-left:hover:before, .icon-chevron-right:hover:before {
  background-color: #2CA8FF;
}

.icon-chevron-right::before {
  content: "";
}

.bx-wrapper .bx-next {
  margin-top: 1rem;
  font-size: 1.7rem;
}

@media (min-width: 600px) {
  .container {
    grid-template-columns: repeat(auto-fill, 25%);
    grid-template-rows: 6rem auto;
  }

  .container {
    margin-bottom: 2rem;
  }

  .container header h2 {
    font-size: 2rem;
  }

  .bx-wrapper .bx-next {
    margin-top: 0.5rem;
    font-size: 3.5rem;
  }
}
@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(6, 1fr);
  }
}
/*---------Menu--------- */
#wrapper_menu {
  padding: 1.4em 2em;
  font-family: sourcesans;
  font-weight: bold;
  /*listas del item principal(current)*/
}
#wrapper_menu > a {
  padding: 1.4em 2em;
}
#wrapper_menu > a:hover {
  background-color: #53b8ff;
}
#wrapper_menu #cont_cat {
  position: absolute;
  top: 100%;
}
#wrapper_menu #cont_cat a:hover {
  color: #2CA8FF;
}
#wrapper_menu #cont_cat #menu_cat_gnrl {
  width: 20%;
  float: left;
}
#wrapper_menu #cont_cat #menu_cat_gnrl h3 {
  text-align: left;
  padding: 1em 0.7em 1em;
}
#wrapper_menu #cont_cat #menu_cat_gnrl a {
  display: block;
}
#wrapper_menu #cont_cat #sub_categ {
  width: 78%;
  float: left;
  background-color: #FFF;
  border-bottom: 0.2em solid #2CA8FF;
  padding: 0.3em 0 1em 1em;
}
#wrapper_menu #cont_cat #sub_categ a {
  color: #8c8c8c;
}
#wrapper_menu #cont_cat #sub_categ a:hover {
  color: #2CA8FF;
}
#wrapper_menu #cont_cat #sub_categ h3 {
  color: #666;
  display: inline-block;
  padding: 0 4em 0.2em 4em;
  margin: 1em 0;
  border-bottom: 0.1em solid #666;
  font-weigth: 900;
  font-size: 2em;
}
#wrapper_menu #cont_cat #sub_categ #sub_cat_n2 {
  min-width: 20%;
  max-width: 33%;
  margin: 0 0 4em 0;
  float: left;
  text-align: left;
}
#wrapper_menu #cont_cat #sub_categ #sub_cat_n2 h4 ~ a {
  padding: 0.7em 0 0 1.2em;
  display: block;
}

a {
  text-decoration: none;
  color: #FFF;
}

#wrapper_menu, #wrapper_menu * {
  margin: 0;
  list-style: none;
  z-index: 999;
}

#container_info {
  position: absolute;
  top: 4rem;
  left: 0;
  height: 70vh;
}

.info {
  display: block;
  padding: 1rem 0 0 0.5rem;
  overflow: hidden;
}
.info span[class^=icon] {
  font-size: 2rem;
  text-align: left;
  float: left;
  background-color: #000;
  color: #FFF;
  border-radius: 2rem;
  padding: 0.5rem;
}
.info span[class^=icon]:hover {
  background-color: #000;
  color: #2CA8FF;
}
.info .show_info {
  background-color: rgba(0, 0, 0, 0.9);
  color: #FFF;
  float: left;
  margin-left: 0.5rem;
  padding: 1.2em 0.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
  display: none;
}
.info > span:hover + span {
  display: block;
}

#map {
  height: 90vh;
  width: 100%;
}

/*---------Footer---------*/
footer {
  background-color: #000;
  padding: 1em;
  color: #FFF;
}

form {
  border: 1px solid #F00;
}

.show {
  display: block;
}

.disp_none {
  display: none;
}

.visib_hidd {
  visibility: hidden;
}

.backgrnd {
  background-color: rgba(0, 0, 0, 0.9);
}

.data_load {
  box-sizing: border-box;
  padding: 1em 1em 2em 1.3em;
  width: 45%;
  margin: 3em auto;
  border: 0.1em solid rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
}
.data_load legend {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0.5em;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.3em;
}

#wrapper_inp {
  border-bottom: 0.1em solid #FFF;
  border-top: 0.1em solid #FFF;
  padding: 2em 2em 1em 2em;
}
#wrapper_inp div {
  width: 100%;
}

.w_max input[type=text], textarea {
  box-sizing: border-box;
  border-radius: 0.3em;
  opacity: 0.9;
  width: 100%;
  border: 0.1em solid #ccc;
  padding: 0.5em;
  margin-bottom: 0.4em;
}

textarea {
  height: 7em;
}

button[type=submit] {
  background-color: #2CA8FF;
  margin-top: 1em;
  width: 100%;
  padding: 0.8em 0 0.8em 0;
  border: 0.1em solid #FFF;
  color: #FFF;
  border-radius: 0.4em;
}
button[type=submit]:hover {
  opacity: 0.8;
  font-weight: bold;
}

.secAndLoad {
  box-sizing: border-box;
}
.secAndLoad legend {
  text-align: center;
  font-size: 1em;
}
.secAndLoad select, .secAndLoad .sects {
  height: 2em;
  width: 40%;
  float: left;
}
.secAndLoad .sects input {
  padding: 0;
  height: 2em;
  margin-left: 1em;
}

table {
  border: 0.2em solid #000;
  width: 60%;
  margin: auto;
}

.head_table {
  background-color: #2CA8FF;
}
.head_table th {
  color: #FFF;
  padding: 1em;
}

.artic_det {
  border-bottom: 0.1em solid #EBEBEB;
  text-align: left;
  text-indent: 0.4em;
}
.artic_det th {
  padding: 0.4em 0 0.2em 0;
}
.artic_det img {
  width: 25px;
  float: right;
}
.artic_det a {
  color: #000;
  display: block;
  text-align: center;
}

main#dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}
main#dashboard #dashboard_content {
  flex-grow: 2;
}
main#dashboard aside {
  background-color: #2CA8FF;
  width: 20vw;
  height: 100vh;
  #flex-grow: 1;
}
main#dashboard aside .title {
  text-align: center;
}
main#dashboard aside p {
  padding: 1rem 0;
  font-weight: bolder;
  color: #FFF;
  padding: 0.7rem 0;
}
main#dashboard aside .options:hover {
  color: #2CA8FF;
  background-color: #FFF;
}

/*# sourceMappingURL=style.css.map */
