{%extends "base.html"%}

{%block admin_artic%}

    <table>

        <tr class="head_table">
            <th>seccion articulo</th>
            <th>articulo</th>
            <th>borrar</th>
        </tr>
        {% for arts_sect in arts_and_sects%} 
            {% for artic in arts_and_sects[arts_sect]%} 
            <tr class="artic_det">
                <th>{{arts_sect}}</th>
                <th>{{artic[2]}}
                    <img src="static/images/articles/{{artic[1]}}" alt=""/>
                </th>
                
                <th>
                    <a href="/delete/{{artic[0]}}">
                        Borrar
                    </a>
                </th>
            </tr>
            {%endfor%}
        {%endfor%}

    </table>


{%endblock%}
