<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Venta de repuestos, audio, video, articulos de computadora y reparacion" />
        <meta name="keywords" content="asa, asa electronia, electronica, reparacion, repuestos electronicos, audio, video, computacion" />

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>ASA - {{title}}</title>

		<!--AIzaSyCYNggP3DyMf2Y3qRYr93boQKZXNW8RJT8-->
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYNggP3DyMf2Y3qRYr93boQKZXNW8RJT8" ></script> 

        {% assets "mainPagCssFrstRend"  %}
			<link rel="stylesheet" type="text/css" href="{{ASSET_URL}}"/> 
        {% endassets %}

    </head>

    <body>
        {% block login_form%}{%endblock%}
        {% block main_page%}{%endblock%}
        {% block load_form%}{%endblock%} 
        {% block test%}{%endblock%}
        {% block admin_artic%}{%endblock%}
        {% block dashBoard%}{%endblock%}
    </body>
</html>
