{% extends "base.html" %}

{% block dashBoard  %}

<link 
	rel="stylesheet" 
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
	crossorigin="anonymous"
>
	<main id="dashboard">
    	
		<nav >
			<p  class="options" id="load_artic">Carga</p>
			<p  class="options" id="del_artic">administracion </p>
		</nav>

		<section id="dashboard_content">

			<div class="disp_none" id="wrapper_load_artic">
				<form id="load_form" class="data_load " action=""  method="POST" enctype="multipart/form-data">

					<legend class="" > Carga de producto </legend>


					<div class="form-group"> 
						<label for="artic_title" class="sr-only" > Nombre del articulo </label>
						<input type="text" class="form-control"  id="load_artic_title" name="artic_title" placeholder="Nombre del articulo" required/> 
					</div>


					<div class="form-group"> 
						<label for="artic_descr" class="sr-only"> Descripcion del producto </label>
						<textarea class="form-control" id="load_artic_descr" placeholder="Descripcion del producto"  name="artic_descr" required></textarea>
					</div>

					<div  class="form-row form-group" >

						<div  class="col-6" >
							<input type="number" class="form-control"  id="load_artic_price" name="artic_price" placeholder="$00.00" step="00.01" min="0.00" max="999999" required/>
						</div>
						<div  class="col-6" >
							<input type="file" id="artic_img" accept="image/png, image/jpeg" class="form-control-file" name="artic_img" required/>
						</div>
					</div>

					<div  class="form-row form-group" > 

						<div  class="col-6" > 
							<select id="load_list_sect" class="form-control"  name="list_sect">
								{%for section in sections%}
									<option value="{{section[0]}}"> {{section[0]}} </option>
								{%endfor%}
							</select>
						</div> 

						<div class="sects col-6"> 
							<label for="artic_title" class="sr-only"> Nombre de la seccion del articulo</label>
							<input id="load_new_sect" class="form-control" type="text" name="new_sect" placeholder="Nueva seccion" >
						</div> 
					</div> 

					<button type="submit"  class="btn btn-lg btn-primary btn-block" onclick="createArtic()"> cargar </button>

				</form> 
			</div>

			<div class="disp_none " id="wrapper_admin_art">
				<input id="searchTxtArticAdm" type="search" onfocus>
				<input id="searchArticAdm" onclick="searchArticAdm();"  type="submit" value="buscar" >
				<table id="adm_table" class="table table-hover table-dark"> 
					<thead class="head_table">
						<th>seccion articulo</th>
						<th>articulo</th>
						<th>administrar</th> 
					</thead> 
				</table>


				<form id="edit_form" class="data_load " action=""  method="POST" enctype="multipart/form-data">

					<legend class="" > Modificar producto </legend>


					<div class="form-group"> 
						<label for="artic_title" class="sr-only" > Nombre del articulo </label>
						<input type="text" class="form-control"  id="edit_artic_title" name="artic_title" placeholder="Nombre del articulo" required/> 
					</div>


					<div class="form-group"> 
						<label for="artic_descr" class="sr-only"> Descripcion del producto </label>
						<textarea class="form-control" id="edit_artic_descr" placeholder="Descripcion del producto"  name="artic_descr" required></textarea>
					</div>

					<div  class="form-row form-group" >

						<div  class="col-6" >
							<input type="number" class="form-control"  id="edit_artic_price" name="artic_price" placeholder="$00.00" step="00.01" min="0.00" max="999999" required/>
						</div>
						<div  class="col-6" >
							<input type="file" id="edit_artic_img" accept="image/png, image/jpeg" class="form-control-file" name="artic_img" />
						</div>
					</div>

					<div  class="form-row form-group" > 

						<div  class="col-6" > 
							<select id="edit_list_sect" class="form-control"  name="list_sect">
								{%for section in sections%}
									<option value="{{section[0]}}"> {{section[0]}} </option>
								{%endfor%}
							</select>
						</div> 

						<div class="sects col-6"> 
							<label for="artic_title" class="sr-only"> Nombre de la seccion del articulo</label>
							<input id="edit_new_sect" class="form-control" type="text" name="new_sect" placeholder="Nueva seccion" >
						</div> 
					</div> 

					<button id="editArtic" type="submit" class="btn btn-lg btn-primary btn-block" onclick="setEditArtic()"> editar </button> 

				</form> 

			</div>
		</section> 
	</main>

{% endblock %}
