{%extends "base.html"%}

{% block main_page %}

<div id="wrapper">

    <header id="header" role="banner">

        <section id="logo">
        </section>

        <section id="general_container_info" class="disp_none">

		

        </section><!-- general_container_info-->

    </header><!--headerPage-->


    <nav id="wrapper_menu">
		<a id="contacto" href="#map"> contacto </a> 
    </nav>


    <main role="main" id="mainIndex">

        <div class="bxslider">
            {% for arts_sect in arts_and_sects%} 
                <section class="container">
                    <header class="">
                        <h2> {{arts_sect}}</h2> 
                    </header>

                    {% for artic in arts_and_sects[arts_sect]%} 
					<div class="art_cont" onclick="moreInfoArtSel(event)" >
                            <img data-articId={{artic[0]}} src="static/images/articles/{{artic[1]}}" /> 
                            <p class="artic_title">{{artic[2]}}</p> 
							
                        </div> 
                    {% endfor %}
                </section> 
            {% endfor %}
        </div><!--bxslider-->         
    </main>

    <aside id="mainAside">
       <div id="selected_art" class="art_cont">
          <img src="" /> 
          <p id="aside_artic_price"></p> 
          <p id="aside_artic_descr"></p> 
       </div> 
    </aside>


    <div id="wrapp_info" > 

        <div id="map" > </div>

        <div id="container_info" class="disp_none">

                <p class="info">
                    <span class="icon-phone-hang-up">
                    </span>
                    <span class="show_info ">
                        3804 812445
                    </span>
                </p>
                <p class="info">
                    <span class="icon-location">
                    </span> 
                    <span class="show_info ">
                        Lamadrid 245, F5302 La Rioja
                    </span>
                </p>
                <p class="info">            
                    <span class="icon-mail2">
                    </span>
                    <span class="show_info ">
                        asaelectronia@hotmail.com
                    </span>
                </p> 
                <p class="info">            
                    <a href="https://www.facebook.com/saelectronia" target="_blank">
                        <span class="icon-facebook">
                        </span>       
                    </a>
                </p>

        </ div><!-- container_info-->
    </div>
        
</div>

{% endblock %}
