{%extends "base.html"%}


{% block login_form%} 
    <form id="loginForm" method="POST" >
        <legend class="" >
            Inicio de sesion administrativo
        </legend>
            
        <fieldset >

            <div>
                <label for="username">
                    Nombre de usuario
                </label>
                <input type="text" id="username" class="" placeholder="Ingrese usuario">
            </div>

            <div>
                <label for="password">
                    Contrasena
                </label> 
                <input type="password"  id="password" class="form-control" placeholder="Password">
            </div>

            
            <div>
                <input type="checkbox" class="form-check-input" id="check" >

                <label class="form-check-label" for="check">
                    Recuerdame
                </label>
            </div>

            <button type="submit" class=""> Ingresar
            </button>

        </fieldset>
    </form>

{% endblock %}
