{%extends "base.html" %}

{%block test%}
        <div id="carouselExampleSlidesOnly" class="carousel slide"
            data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <header >
                    <h1> 
                        Featured 
                    </h1> 
                </header>

                <div class="col-md-4">
                                <div class="shadow-sm m bg-light rounded card">
                                    <img src="static/images/articles/"class="bd-placeholder-img card-img-img-top" width="100%" height="255" preserveAspectRatio="xMidYmid slice" focusable="false" role="img" > 
                                    </img>
                        
                                    <div class="card-body ">
                                        <p class="card-body">
                                        </p>
                                    </div>
                                </div>
                            </div> 
                        </div >
            <div class="carousel-item">
            </div>
            <div class="carousel-item">
            </div>
        </div>
    </div>
{%endblock%}
